version: '3.8'

networks:
  bloefish_network:
    name: bloefish_network
    driver: bridge

services:
  # Utilities
  db_redis:
    restart: always
    image: "redis:latest"
    hostname: db_redis
    ports:
      - "6379:6379"
    networks:
      - bloefish_network

  db_mongodb:
    restart: always
    image: "mongo:latest"
    hostname: db_mongodb
    ports:
      - "27017:27017"
    networks:
      - bloefish_network

  storage_minio:
    restart: always
    image: "minio/minio:latest"
    hostname: storageminio
    environment:
      MINIO_ACCESS_KEY: "admin"
      MINIO_SECRET_KEY: "adminsecretkey"
    command: server /data
    volumes:
      - ./.data/minio:/data
    ports:
      - "9000:9000"
    networks:
      - bloefish_network
    extra_hosts:
      - "storageminio.bloefish.local:127.0.0.1"

  util_telemetry:
    image: "grafana/otel-lgtm:latest"
    hostname: util_telemetry
    # volumes:
    #   - ./.data/minio:/data
    ports:
      - "4300:3000"
      - "4318:4318"
    networks:
      - bloefish_network
    extra_hosts:
      - "grafana.bloefish.local:127.0.0.1"
      - "util_telemetry.bloefish.local:127.0.0.1"

  # Services
  svc_ai_relay:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["ai_relay"]
    hostname: svc_ai_relay
    env_file: "services/airelay/.env"
    environment:
      STREAM_SERVICE_BASE_URL: http://svc_stream:4000/rpc
      FILE_UPLOAD_SERVICE_BASE_URL: http://svc_file_upload:4000/rpc
      CONVERSATION_SERVICE_BASE_URL: http://svc_conversation:4000/rpc
      AI_PROVIDERS_OLLAMA_ENDPOINT: http://host.docker.internal:11434
    ports:
      - "4003:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_ai_relay.bloefish.local:127.0.0.1"

  svc_conversation:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["conversation"]
    hostname: svc_conversation
    environment:
      MONGO_URI: mongodb://db_mongodb:27017
      AI_RELAY_SERVICE_BASE_URL: http://svc_ai_relay:4000/rpc
      STREAM_SERVICE_BASE_URL: http://svc_stream:4000/rpc
      USER_SERVICE_BASE_URL: http://svc_user:4000/rpc
    depends_on:
      - db_mongodb
    ports:
      - "4002:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_conversation.bloefish.local:127.0.0.1"

  svc_user:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["user"]
    hostname: svc_user
    environment:
      MONGO_URI: mongodb://db_mongodb:27017
    depends_on:
      - db_mongodb
    ports:
      - "4001:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_user.bloefish.local:127.0.0.1"

  svc_file_upload:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["file_upload"]
    hostname: svc_file_upload
    environment:
      MONGO_URI: mongodb://db_mongodb:27017
      MINIO_ENDPOINT: storageminio:9000
      MINIO_ACCESS_KEY_ID: admin
      MINIO_SECRET_ACCESS_KEY: adminsecretkey
    depends_on:
      - db_mongodb
      - storage_minio
    ports:
      - "4005:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_file_upload.bloefish.local:127.0.0.1"

  svc_stream:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["stream"]
    hostname: svc_stream
    ports:
      - "4004:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_stream.bloefish.local:127.0.0.1"

  svc_skill_set:
    restart: always
    build:
      context: .
      dockerfile: go_service.Dockerfile
    command: ["skill_set"]
    hostname: svc_skill_set
    ports:
      - "4006:4000"
    networks:
      - bloefish_network
    extra_hosts:
      - "svc_skill_set.bloefish.local:127.0.0.1"

  # Apps
  app_web:
    restart: always
    image: nginx:latest
    volumes:
      - ./applications/web/dist:/var/www/html
      - ./.config/infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
    hostname: app
    ports:
      - "4169:4169"
    networks:
      - bloefish_network
    extra_hosts:
      - "app.bloefish.local:127.0.0.1"
